* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

header,
footer {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 20px;
    color: #fff;
    gap: 30px;
    margin: 20px;
}

header>h1 {
    font-size: 2.8rem;
    font-weight: 500;
}

header>h2 {
    font-size: 1.4rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

main {
    padding: 30px 40px;

    &>ul {
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        gap: 40px;
    }
}

h3 {
    font-size: 2rem;
}

ul {
    list-style: none;
}

h4 {
    font-size: 1.8rem;
    margin: 10px 0;
}

p {
    font-size: 1.5rem;
    margin: 8px 0;
}

footer {
    font-size: 1.3rem;
}